[Desktop Entry]
Name=CellarDoor
GenericName=CellarDoor
Comment=CellarDoor application
Exec=/usr/bin/cellar
Categories=Amusement
Icon=cellardoor
Type=Application
Terminal=false
StartupNotify=true
