[Desktop Entry]
Name=CellarDoor
GenericName=CellarDoor
Comment=CellarDoor application
Exec=/opt/com.cabledogs.cellardoor/bin/cellardoor
Categories=Amusement
Icon=cellardoor
Type=Application
Terminal=false
StartupNotify=true
